{% extends "base_tables.html" %}

{% block extra_head %}
<style type="text/css">
  pre { clear: right; }
</style>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      /* Allow sorting by columns asc/desc. */
      $('a.sort-header').on('click', function(e) {
        var elem = $(this),
            order_elem = $('input[name="ordering"]');
        order_elem.val(elem.data('ordering'));
        e.preventDefault();
        $('form#query-form').submit();
      });

      /* Show one of the SQL syntax railroad diagrams. */
      $('a.sql-image').on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            imgUrl = elem.attr('href'),
            modalDiv = $('div#sql-image-modal');
        modalDiv.find('h5.modal-title').text(elem.text());
        modalDiv.find('.modal-body').empty().append(
          $('<img src="' + imgUrl + '" style="max-width:100%;" />'));
        modalDiv.modal({'keyboard': true});
      });

      var bookmarkQueries = JSON.parse(localStorage.getItem('bookmarks') || '[]');
      var bookmarkModal = $('div#bookmark-modal'),
          bookmarkName = bookmarkModal.find('input#bookmark-name'),
          bookmarkContainer = $('div#bookmarks'),
          sqlTextArea = $('textarea#sql');

      $('button#add-bookmark').on('click', function(e) {
        e.preventDefault();
        bookmarkName.val('');
        bookmarkModal.modal({'keyboard': true});
      });

      $('button#save-bookmark').on('click', function(e) {
        var name = bookmarkName.val();
        if (name) {
          bookmarkQueries.unshift([name, sqlTextArea.val()]);
          bookmarkModal.modal('hide');
          localStorage.setItem('bookmarkQueries', JSON.stringify(bookmarkQueries));
          addBookmark(name);
        }
      });

      function onBookmarkClick(e) {
        e.preventDefault();
        var elem = $(this);
        console.log(elem);
      }

      function addBookmark(name) {
        var newLink = $('<a class="dropdown-item bookmark-link">' + name + '</a>');
        newLink.on('click', onBookmarkClick);
        bookmarkContainer.prepend(newLink);
      }

      /* Handle the recent queries functionality. */
      var recentQueries = JSON.parse(localStorage.getItem('recentQueries') || '[]');
  {% if sql and not error %}
      var sql = `{{ sql }}`;
      var accum = [sql];
      for (var i = 0; i < recentQueries.length; i++) {
        if (recentQueries[i] !== sql) { accum.push(recentQueries[i]) };
      }
      recentQueries = accum.slice(0, 20);
      localStorage.setItem('recentQueries', JSON.stringify(recentQueries));
  {% endif %}
      var historyIndex = 0;

      sqlTextArea.on('keydown', function(e) {
        if ((e.metaKey || e.ctrlKey) && e.keyCode == 13) { // ctrl+enter or meta+enter.
            $("form#query-form").submit();
        }
        if (e.shiftKey) {
          if (e.keyCode == 38) { // up.
            historyIndex += 1;
            if (historyIndex >= recentQueries.length) { historyIndex = 0; }
            sqlTextArea.html(recentQueries[historyIndex]);
            e.preventDefault();
          } else if (e.keyCode == 40) { // down.
            historyIndex -= 1;
            if (historyIndex < 0) { historyIndex = recentQueries.length - 1; }
            sqlTextArea.html(recentQueries[historyIndex]);
            e.preventDefault();
          }
        }
      });
      sqlTextArea.focus();
    });
  </script>
{% endblock %}

{% block content_title %}<a href="{{ url_for('index') }}">{{ dataset.base_name }}</a> - Query{% endblock %}

{% block content %}
  <form action="." id="query-form" method="post" role="form">
    <input name="ordering" type="hidden" value="" />
    <input name="export_ordering" type="hidden" value="{% if ordering %}{{ ordering }}{% endif %}" />
    <div class="form-group{% if error %} has-error has-feedback{% endif %}">
      <textarea class="form-control{% if error %} is-invalid{% endif %}" id="sql" name="sql" style="height: 120px;">{% if sql %}{{ sql }}{% endif %}</textarea>
      <small class="form-text text-muted">Use Shift + Up/Down to navigate recently-executed queries</small>
      {% if error %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">Execute</button>
    <button class="btn btn-secondary" name="export_json" type="submit">Export JSON</button>
    <button class="btn btn-secondary" name="export_csv" type="submit">Export CSV</button>
    <div class="btn-group">
      <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">SQL Help</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for parts, img_url in query_images %}
            <a class="dropdown-item sql-image" href="{{ url_for('static', filename=img_url) }}">{{ ' : '.join(parts) }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="float-right">
      <div class="btn-group">
        <button class="btn btn-secondary" id="add-bookmark" type="button">Bookmark</button>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" id="bookmarks"></div>
        </div>
      </div>
    </div>
  </form>
  <hr />

  {% if row_count is not none and row_count >= 0 %}
    <p>Rows modified: <code>{{ row_count }}</code></p>
  {% endif %}

  {% if data_description %}
    {% if not data %}
      <p>Empty result set.</p>
    {% else %}
      <a class="float-right" href="{{ url_for('table_query', table=table, sql=sql) }}">Permalink</a>
      <h3>
        Results ({{ data|length }})
      </h3>
      <table class="table table-striped small">
        <thead>
          <tr>
            {% for col_desc in data_description %}
              <th>
                <a class="sort-header" data-ordering="{% if loop.index == ordering %}-{% endif %}{{ loop.index }}" href="#">{{ col_desc[0] }}</a>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              {% for value in row %}
                <td>
                  {% if value is none %}<code>NULL</code>{% else %}{{ value|value_filter|safe }}{% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
  <div class="modal fade" id="sql-image-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bookmark-modal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Bookmark</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <input class="form-control" id="bookmark-name" name="name" placeholder="Bookmark name..." value="" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save-bookmark">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
