{% extends "base_tables.html" %}

{% block extra_head %}
<style type="text/css">
  pre { clear: right; }
</style>
{% endblock %}

{% block extra_scripts %}{% include "query_scripts.html" %}{% endblock %}

{% block content_title %}Query{% endblock %}

{% block content %}
  {% set sql_textarea_id = 'sql' %}
  {% include "query_form.html" %}
  <hr />

  {% if results %}
    {% include "results_multi.html" %}
  {% elif result and result.kind != 'error' %}
    {% if result.kind == 'rows' and result.rows %}
      <a class="float-right" href="{{ url_for('generic_query', sql=sql) }}{% if ordering %}&ordering={{ ordering }}{% endif %}{% if page > 1 %}&page={{ page }}{% endif %}">Permalink</a>
      <h3>Results ({{ page_start }}&ndash;{{ page_start + result.rows|length - 1 }}{% if total is not none %} of {{ total }}{% endif %})</h3>
    {% endif %}
    {% include "results.html" %}
    {% if result.kind == 'rows' and result.rows and paginate %}
      {% include "pagination.html" %}
    {% endif %}
  {% endif %}
  {% include "query_modals.html" %}
{% endblock %}
