{% extends "base_table.html" %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      var valueToggles = $('a.toggle-value');
      valueToggles.on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            truncated = elem.siblings('span.truncated'),
            full = elem.siblings('span.full');
        truncated.toggle();
        full.toggle();
      });

      var records = $('a.delete').on('click', function(e){
        var id = $(this).attr('data-id');
        console.log(e);
        e.preventDefault();
        $.ajax({
            url: "{{ url_for( 'table_structure', table=table ) }}delete-row/" + id + '/',
            type: 'DELETE',
            success: function(result) {
                // Do something with the result
                //alert('deleted');
                window.location.reload();
            }
        });
      });

    });
  </script>
{% endblock %}

{% block content_title %}
  {{ super() }}
  <small>{{ ds_table.all().count() }} rows, showing page {{ page }}</small>
{% endblock %}

{% block content_tab_class %}active{% endblock %}
{% block inner_content %}

  <table class="table table-striped">
    <thead>
      <tr>
        {% for column in columns %}
          <th>
            <a href="./?ordering={% if ordering == column %}-{% endif %}{{ column }}">{{ column }}</a>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in query %}
        <tr>
          {% for field in field_names %}
            {% set value = row[field] %}
            <td>
              {% if value is none %}
                NULL
              {% else %}
                {{ value|value_filter|safe }}
              {% endif %}
            </td>
          {% endfor %}
          <td><a data-id="{{row[pkname]}}" class="delete" href="">X</a></td>
          <td><a href="{{ url_for('edit_row', id=row[pkname], table=table) }}">E</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      <li class="{% if not previous_page %}disabled {% endif %}previous">
        <a href="{{ url_for('table_content', table=table, page=previous_page, ordering=ordering) }}">&larr; Previous</a>
      </li>
      <li>Page {{ page }} / {{ total_pages }}</li>
      <li class="{% if not next_page %}disabled {% endif %}next">
        <a href="{{ url_for('table_content', table=table, page=next_page, ordering=ordering) }}">Next &rarr;</a>
      </li>
    </ul>
  </nav>
{% endblock %}
