{% extends "base_table.html" %}

{% block content_title %}
  {{ super() }}
  <small>{{ total_rows }} rows, showing page {{ page }}</small>
{% endblock %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  {% set sql = None %}
  {% set show_bulk = allow_bulk %}
  {% set show_detail = allow_detail %}
  {% set show_edit = allow_edit %}
  {% if allow_bulk %}
    <form action="." autocomplete="off" method="post">
  {% endif %}
  {% include "results.html" %}
  {% if allow_bulk %}
    <div class="float-right">
      <button class="btn btn-sm btn-danger bulk-action" disabled name="action" type="submit" value="bulk-delete">Bulk Delete</button>
    </div>
    </form>
  {% endif %}
  <nav>
    <ul class="pagination">
      <li class="{% if not previous_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_content', table=table, page=1, ordering=ordering) }}">&laquo;</a>
      </li>
      <li class="{% if not previous_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_content', table=table, page=previous_page, ordering=ordering) }}">&lsaquo;</a>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Page {{ page }} / {{ total_pages }}</span>
      </li>
      <li class="{% if not next_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_content', table=table, page=next_page, ordering=ordering) }}">&rsaquo;</a>
      </li>
      <li class="{% if not next_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_content', table=table, page=total_pages, ordering=ordering) }}">&raquo;</a>
      </li>
    </ul>
  </nav>
{% endblock %}
