{% extends "base_table.html" %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  <h3>Row {{ table_pk|pk_display(pk) }} from {{ table }}</h3>
  <table class="table table-striped small cell-content">
    <tbody>
    {% for field in model._meta.sorted_fields %}
      {% set value = row[field.name] %}
      {% set fk = fk_lookup.get(field.column_name) %}
      <tr>
        <th>{{ field.column_name }}</th>
        <td>{% if value is none %}<code>NULL</code>{% elif fk %}<a href="{{ value|fk_link(fk) }}" title="{{ fk[0] }}.{{ fk[1] }}">{{ value }}</a>{% else %}{{ value|value_filter|safe }}{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if allow_edit %}
    <a class="btn btn-primary" href="{{ url_for('table_update', table=table, pk=pk) }}">Edit</a>
    <a class="btn btn-danger" href="{{ url_for('table_delete', table=table, pk=pk) }}">Delete</a>
  {% endif %}
  <a class="btn btn-secondary" href="{{ url_for('table_content', table=table) }}">Back</a>
{% endblock %}
