{% extends "base_table.html" %}

{% block extra_head %}
<style type="text/css">
  pre { clear: right; }
</style>
{% endblock %}

{% block extra_scripts %}{% include "query_scripts.html" %}{% endblock %}

{% block query_tab_class %} active{% endblock %}

{% block inner_content %}
  <h3>
    <p class="float-right">
      <a class="btn btn-primary btn-sm" href="#" id="toggleTableInfo">+/- table definition</a>
    </p>
    Query
  </h3>
  <div id="tableInfo">
    {{ table_sql|format_create_table|highlight }}
  </div>
  {% set sql_textarea_id = 'table-sql' %}
  {% include "query_form.html" %}
  <hr />

  {% if results %}
    {% include "results_multi.html" %}
  {% elif result and result.kind != 'error' %}
    {% set show_edit = allow_edit and result.keys %}
    {% set show_detail = allow_detail and result.keys %}
    {% set show_bulk = allow_bulk and result.keys %}
    {% if result.kind == 'rows' and result.rows %}
      {% if show_bulk %}
        <form action="." autocomplete="off" method="post">
          <input name="sql" type="hidden" value="{{ sql }}" />
      {% endif %}
      <div class="float-right">
        <a class="btn btn-secondary" href="{{ url_for('table_query', table=table, sql=sql) }}{% if ordering %}&ordering={{ ordering }}{% endif %}{% if page > 1 %}&page={{ page }}{% endif %}">Permalink</a>
      </div>
      <h3>Results ({{ page_start }}&ndash;{{ page_start + result.rows|length - 1 }}{% if total is not none %} of {{ total }}{% endif %})</h3>
    {% endif %}
    {% include "results.html" %}
    {% if result.kind == 'rows' and result.rows %}
      {% if show_bulk %}
        <div class="float-right">
          <button class="btn btn-sm btn-danger bulk-action" disabled name="action" type="submit" value="bulk-delete">Bulk Delete</button>
        </div>
        </form>
      {% endif %}
      {% if paginate %}
        {% include "pagination.html" %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% include "query_modals.html" %}
{% endblock %}
