{% extends "base_tables.html" %}

{% block content_title %}{{ database }}{% endblock %}

{% block content %}
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Filename</th>
        <td>{{ database_filename }}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{ database_size|filesizeformat }}</td>
      </tr>
      <tr>
        <th>Created</th>
        <td>{{ database_created.strftime('%A %B %d, %Y at %I:%M:%p') }}</td>
      </tr>
      <tr>
        <th>Modified</th>
        <td>{{ database_modified.strftime('%A %B %d, %Y at %I:%M:%p') }}</td>
      </tr>
      <tr>
        <th>Tables</th>
        <td>{{ tables|length }}</td>
      </tr>
      <tr>
        <th>Indexes</th>
        <td>{{ indexes|length }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
